*{
  text-decoration: none;
  list-style-type: none;
  color:black;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
#to-the-top{
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  background-color: rgb(0, 0, 0); 
  color: white; 
  padding: 15px; 
  border-radius: 5px;
  font-size: 18px; 
}
#arrow{
  color:white
}
/* HEADER */
#header-container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  grid-template-areas: 
  "logo-section"
  "nav";
}
header{
  margin:15px;
  padding:0px;
}
.logo-section{
  grid-area:logo-section;
  display:flex;
  justify-content: center;
}
#logo{
  width:80px;
}
nav ul li{
  display:flex;
  justify-content: center;
  padding-top:10px;
  padding-bottom:10px;
  font-size:14px;
  }
.home-btn1{
  text-decoration: underline;
  text-underline-offset:5px;
  text-decoration-color:#e6bd43;
  text-decoration-thickness: 1.8px;;
  font-weight:800;
}
.contact-btn{
  background-color: #e6bd43;
  font-weight: 800;
  padding:10px;
}
/* MAIN */
#main-container1{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.6fr 0.3fr;
  grid-template-areas: 
  "img1"
  "text1"
  "img2-container"
  "text2"
  "services"
  "newsletter";
}
.mountains-video{
  display:none;
}
/* IMG1 */
.img1{
  grid-area: img1;
  position:relative;
  display:inline-block;
}
.img1-img{
  object-fit: cover;
  width:100%;
  opacity:40%;
}
.img1-text{
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  position:absolute;
  width:100%;
  text-align:center;
}
.img1-p{
  margin-right:30px;
  margin-left:30px;
  padding:10px;
  padding-bottom:30px;
}
.img1-h1{
  font-weight:800;
  padding-left:80px;
  padding-right:80px;
  padding-bottom:20px;
  font-size:25px;
}
.img1-service{
  background-color:#e6bd43;
  font-weight:800;
  display: inline-block;
  padding:10px;
  padding-right:61px;
  margin-left:40px;
  margin-right:40px;
  text-align:left;
  font-size:15px;
}
/* TEXT1 */
.text1{
  grid-area: text1;
  padding:30px;
}
.text1 h2{
  padding-bottom: 40px;
  display:flex;
  justify-content: center;
  text-align:center;
}
.text1-p{
  display:flex;
  justify-content: center;
  text-align:center;
}
/* IMG2-CONTAINER */
.img2-container{
  background-color: #e6bd43;
  grid-area: img2-container;
}
.img2-img{
  width:80%;
  object-fit: cover;
  padding:30px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:300px;
}
/* TEXT2 */
.text2{
  grid-area: text2;
  background-color:#e6bd43;
  padding-left: 85px;
  padding-right:95px;
  padding-top:40px;
  padding-bottom: 0px;
}
.text2 h2{
  padding-bottom: 40px;
}
.text2-read-more{
  border-style:solid;
  border-width:2px;
  font-weight:bold;
  display:block;
  margin-top:10px;
  margin-bottom:80px;
  padding:10px;
  padding-right:70px;
  padding-left:20px;
}
/* SERVICES */
.services{
  grid-area: services;
  text-align:center;
  padding-left: 20px;
  padding-right:20px;
  
}
.services h2{
  padding:20px;
  padding-top:80px;
  padding-bottom:60px;
  display:flex;
  justify-content: center;
  font-weight:800;
}
.services h3{
  font-weight:800;
}
.people, .cloud, .code, .wifi{
  padding-bottom:70px;
}
.services-icons{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.people-icon, .cloud-icon, .code-icon, .wifi-icon{
  font-size:25px;
  margin-bottom:5px;
  padding-left: 20px;
  padding-right:20px;
}
.newsletter{
  grid-area:newsletter;
  background-color:#ededed;
  padding: 25px;
  padding-top:60px;
  padding-bottom:40px;
}
.newsletter-h2{
  padding-bottom: 20px;
  font-size:20px;
  display:flex;
  justify-content: center;
}
.newsletter-form{
  display:flex;
  justify-content: center;
  gap:10px;
}
.newsletter-epost{
 border:none;
 padding:10px;
 width:70%;
}
.newsletter-submit{
  border:none;
  padding:10px;
  background-color: #e6bd43;
  font-weight:bold;
}

#footer-container1{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas: 
  "logo2"
  "footer-p"
  "social"
}

.footer-logo{
  grid-area:logo2;
  background-color: #252525;
  display:flex;
  justify-content: center;
  padding:40px;
  
}
.logo2-img{
  width:100px;
}
.footer-p{
  grid-area:footer-p;
  background-color: #252525;
  display:flex;
  justify-content:center;
  padding-left:40px;
  padding-right:40px;
}
.footer-p p{
  color:white;
}
.social-ul{
  grid-area:social;
  background-color: #252525;
}
.social{
  display:flex;
  justify-content: center;
  padding:20px;
 
}
.social li{
  padding-left:10px;
  padding-right:10px;
  display:flex;
  
}
#facebook, #linkedin, #instagram{
  color:white;
  font-size:25px;
}
/* MEDIA HOME */
@media only screen and (min-width: 350px){
  .people, .cloud{
    width:50%;
    
  }
  .code, .wifi{
    width:50%;
    
  }

  .people, .cloud, .code, .wifi{
    max-width:200px;
    padding:0px;
  }

  .services-icons{
    padding-bottom:40px;
  }
 
}



@media only screen and (min-width: 600px){
  /* FOOTER */
  #footer-container1{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo2 footer-p social"
  }
  /* HEADER */
  #header-container{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "logo-section nav nav";
  }
  header{
   padding:0;
  }
  nav{
    grid-area:nav;
  }
  nav ul {
    display:flex;
    justify-content: end;
    padding-top:20px;;
    gap:10px;
    margin-right:10px;
  }
  nav ul li{
    align-items:center;
  }
  .home-btn1{
    margin:0;
  }
  .products-btn1{
    margin:0;
  }
  .home-bnt1:hover{
    text-decoration:underline;
    font-style:bold;
  }
 
  .products-btn1:hover{
    text-decoration:underline;
    font-style:800;
    font-weight:800;
  }
 
  .about-btn1:hover{
    text-decoration:underline;
    font-weight:800;
  }
  .about-btn1{
    margin:0;
  }

  .logo-section{
    display:flex;
    justify-content: start;
  }
  #logo{
    padding:0;
    margin:0;
    margin-left:10px;
  }
  .contact-btn{
    margin:0;
  }
  a.contact-btn:hover{
    color:  #e6bd43;
    background-color: rgb(0, 0, 0);
    cursor:pointer;
  }
 
  .newsletter-epost{
    width:200px;
  }
  .footer-logo{
    display:flex;
    justify-content: left;
    padding:0;
    padding-left:20px;
    padding-top:40px;
  }
  .footer-p{
    align-items:center;
    padding:0;
  }
  .social-ul{
    display:flex;
    align-items:center;
    justify-content:flex-end;
  }

}

@media only screen and (min-width: 639px){
  .services-icons{
    justify-content: center;
  
  
  }
  .people, .cloud, .code, .wifi{
    padding:5px;
  }
}


@media only screen and (min-width: 887px){
  .services-icons{
    justify-content: space-between;
}

}
@media only screen and (min-width: 1000px) {
  #main-container1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.4fr 0.7fr 0.5fr;
    grid-template-areas: 
    "img1 img1 img1"
    "text1 text1 text1"
    "img2-container text2 text2"
    "services services services"
    "newsletter newsletter newsletter";
  }
  
  /* IMG1 */
  .img1-service{
    padding:10px;
  }
  .img1-service:hover{
    color: #e6bd43;
    background-color: black;
    cursor:pointer;
  }
  .mountains-video{
    display:block;
    width:100%;
    object-fit: cover;
    height:350px;
  }
  .img1-img{
    display:none;
  }
  /* TEXT1 */
  .text1{
    padding-left:300px;
    padding-right:300px;
    margin:20px;
  }
  .text1 h2{
    font-size:30px;
    padding-left:150px;
    padding-right:150px;
  }

  /* IMG2 */
  .img2-img{
    height:400px;
    object-fit:cover;
  }
  /* TEXT2 */
  .text2{
    padding-left:15px;
  }
  .text2 h2{
    padding-top:30px;
    padding-bottom:20px;
  }
  .text2-read-more{
    width:160px;
    padding: 10px;
  }
  .text2-read-more:hover{
    background:black;
    color:#e6bd43;
    cursor:pointer;
  }
  /* SERVICES */
  .services{
    padding:20px;
  }
  .people, .cloud, .code, .wifi{
    width:300px;
  }
  .services h2{
    padding-top:50px;
    padding-bottom:30px;
  }
  .services-icons{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  /* NEWSLETTER */
  
  .newsletter-h2{
    font-size:40px;
  }
  .newsletter-submit:hover{
    background:black;
    color:#e6bd43;
    cursor:pointer;
  }
  
}

@media only screen and (min-width: 1700px){
  .services{
    margin-left:150px;
    margin-right:150px;
  }
}


/* PRODUCTS */
#main-container2{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.05fr 1fr 0.5fr 0.4fr;
  grid-template-areas: 
  "img3"
  "explore"
  "brending"
  "design"
  "development";
}
.products-btn2{
  text-decoration: underline;
  text-underline-offset:5px;
  text-decoration-color:#e6bd43;
  text-decoration-thickness: 1.8px;;
  font-weight:800;
}
/* IMG3 */
.img3{
  grid-area: img3;
  position:relative;
}
.img3-img{
  object-fit: cover;
  width:100%;
  opacity:70%;
  height:400px;
}
.portfolio{
  transform: translate(-50%, -50%);
  top:53%;
  left:50%;
  position:absolute;
  width:100%;
  text-align:center;
  font-size:30px;
  font-weight:bold;
}
/* EXPLORE */
.explore{
  grid-area: explore;
  margin-left:40px;
  margin-right:40px;
}
.explore h2{
  font-weight:bold;
  border-style:solid;
  border-left:none;
  border-right:none;
  border-top:none;
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  border-color:#e6bd43;
}
.explore-p{
  margin-bottom:20px;
  display:flex;
  justify-content: start;
  flex-wrap:wrap;
}
.explore-branding, .explore-design, .explore-development{
  padding:10px;
  border-style:solid;
  display:inline-block;
  border-width:2px;
  margin:5px;
}

/* BRENDING */
#brending{
  grid-area:brending;
  margin-left:40px;
  margin-right:40px;
}

.brending-img1, .brending-img2, .brending-img3, .brending-img4{
  object-fit: cover;
  width:100%;
  margin-top:30px;
  max-width:350px;
  min-width:200px;
  display:flex;
  
}
.brending-only-img{
  display:flex;
  justify-content: flex-start;
}


#brending h2{
  border-style:solid;
  border-left:none;
  border-right:none;
  border-top:none;
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  border-color:#e6bd43;
}
#brending h3{
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  font-weight:bold;
  font-size:15px;
}
/* DESIGN */
#design{
  grid-area:design;
  margin-left:40px;
  margin-right:40px;
}
#design h2{
  font-weight:bold;
  border-style:solid;
  border-left:none;
  border-right:none;
  border-top:none;
  padding-top:15px;
  padding-bottom:10px;
  margin-top:60px;
  margin-bottom:20px;
  border-color:#e6bd43;
}
#design h3{
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  font-weight:bold;
  font-size:15px;
}
.design-img{
  object-fit: cover;
  width:100%;
  margin-top:30px;
  max-width:350px;
  min-width:200px;
  
}
/* DEVELOPMENT */
#development{
  grid-area:development;
  margin-left:40px;
  margin-right:40px;
}
#development h2{
  font-weight:bold;
  border-style:solid;
  border-left:none;
  border-right:none;
  border-top:none;
  padding-top:15px;
  padding-bottom:10px;
  margin-top:0px;
  margin-bottom:10px;
  border-color:#e6bd43;
}
#development h3{
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  font-weight:bold;
  font-size:15px;
}
.development-img{
  object-fit: cover;
  width:100%;
  margin-top:30px;
  max-width:350px;
  min-width:200px;
  
}
/* FOOTER */
#footer-container2{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.1fr 0.1fr;
  grid-template-areas:
  "logo2"
  "footer-p"
  "social"
}


/* MEDIA PRODUCTS */
@media only screen and (min-width: 600px) {
  #footer-container2{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo2 footer-p social"
  }
  #footer-container1{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo2 footer-p social"
  }

  
 
  .home-btn2:hover{
    text-decoration:underline;
    font-style:800;
    font-weight:800;
  }
 
  .about-btn2:hover{
    text-decoration:underline;
    font-weight:800;
  }


}
@media only screen and (min-width: 900px) {
  .brending-section{
    display:flex;
    flex-wrap:wrap;
  }
  .brending1-section, .brending2-section{
    width:49%;
    margin:4px; 
  }
  .brending3-section, .brending4-section{
    width:49%;
    margin:4px; 
  }
  .design1-section, .design2-section{
    width:48%;
    margin:5px; 
  }
  .design3-section{
    width:49%;
   
  }
  .design-section{
    display:flex;
    flex-wrap:wrap;
  }
  .development-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  .development1-section, .development2-section{
    width:48%;
    margin:5px; 
  }
}

@media only screen and (min-width: 1000px) {
  #main-container2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.7fr 0.5fr 0.3fr;
    grid-template-areas: 
    "img3 img3 img3"
    "explore explore explore"
    "brending brending brending"
    "design design design"
    "development development development";
  }
  /* IMG3 */
  .portfolio{
    font-size:45px;
  }
  /* EXPLORE */
  .explore-branding:hover{
    background:rgb(0, 0, 0);
    color:#e6bd43;
    cursor:pointer;
    border:none;
  }
  a.explore-design:hover{
    background:rgb(0, 0, 0);
    color:#e6bd43;
    cursor:pointer;
    border:none;
  }
  a.explore-development:hover{
    background:rgb(0, 0, 0);
    color:#e6bd43;
    cursor:pointer;
    border:none;
  }
  /* BRENDING */

  .brending1-section, .brending2-section, .brending3-section, .brending4-section{
    transition: transform 0.3s ease-in-out;
  }
  .brending1-section:hover{
    transform: scale(1.1);
  }
  .brending2-section:hover{
    transform: scale(1.1);
  }
  .brending3-section:hover{
    transform: scale(1.1);
  }
  .brending4-section:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
 

 
  /* DEVELOPMENT */
  .development-section{
    display:flex;
    flex-wrap:wrap;
    
    justify-content: space-between;
  }
 
 
}


@media only screen and (min-width: 1300px) {

  .brending1-section, .brending2-section, .brending3-section{
  width:32%;
  margin:5px; 

}
 

}


/* ABOUT */
#main-container3{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.05fr 0.4fr 0.1fr 0.5fr 0.3fr 0.1fr;
  grid-template-areas: 
  "img4"
  "services"
  "clients"
  "contact-us-h2"
  "contact-us"
  "contact-info"
  "map";
}
.about-btn3{
  text-decoration: underline;
  text-underline-offset:5px;
  text-decoration-color:#e6bd43;
  text-decoration-thickness: 1.8px;;
  font-weight:800;
}
/* IMG4 */
.img4{
  grid-area: img4;
  position:relative;
  display:inline-block;
}
.img4-img{
  object-fit: cover;
  width:100%;
  height:750px;
}


.img4-p{
  top:50%;
  left:50%;
  width:80%;
  box-sizing: border-box;
  height:90%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.8);
  position:absolute;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content: center;
  
}
.img4-company{
  padding-bottom:30px;
}


.img4 h1{
  padding-bottom:15px;
  padding-right:40px;
  font-weight:800;
}
.touch-btn{
  background-color: #e6bd43;
  padding:15px;
  margin-right:20px;
  font-weight:bold;
  margin-top:20px;
  display:inline-block;
  font-size:18px;
  
}
/* SERVICES */
.services{
  grid-area: services;
}
.services h3{
  padding-bottom:20px;
}
/* CLIENTS */
.clients{
  grid-area: clients;
  background-color:#e6bd43;
}
.clients h2{
  padding:40px;
  display:flex;
  justify-content: center;
}
.logo1, .logo2, .logo3{
  width:120px;
}
.clients-img{
  display:flex;
  justify-content: center;
  gap:50px;
  flex-wrap:wrap;
}

/* CONTACT US */
.contact-us{
  grid-area: contact-us;
  background-color:rgb(236, 235, 235);
  padding:20px;
}
.contact-us-h2{
  grid-area:contact-us-h2;
  padding:10px;
  display:flex;
  justify-content: center;
  background-color:rgb(236, 235, 235);
  align-items:center;
}
.contact-us h3{
  padding-bottom:10px;
}
.name{
  display:block;
  padding-bottom:5px;
}
.contact-us-name{
  border:none;
  padding:10px;
  width:300px;
  margin-bottom:5px;
}
.subject{
  display:block;
  padding-bottom:5px;
}
.contact-us-subject{
  border:none;
  padding:10px;
  width:300px;
  margin-bottom:5px;
}
.message{
  display:block;
  padding-bottom:5px;
}
.contact-us-message{
  border:none;
  height:150px;
  width:320px;
  margin-bottom:5px;
}
.contact-us-submit{
  display:block;
  background-color: #e6bd43;
  border:none;
  padding:10px;
  font-weight:bold;
}
/* CONTACT INFO */
.contact-info{
  grid-area: contact-info;
  background-color:rgb(236, 235, 235);
  padding:20px;
}
.contact-info h2{
  padding-bottom:20px;
}
.contact-info p{
  padding-bottom:15px;
}
.adresse, .nummer, .hiof{
  padding-left:30px;
}
.hiof{
  text-decoration: underline;
  color:rgb(21, 21, 192);
}
#pin, #envelope, #phone{
  color:rgb(79, 78, 78);
}
.contact-info ul li{
  padding-bottom:10px;
}
/* MAP */
.map{
  grid-area:map;
}
.map-map{
  object-fit: cover;
  width:100%;
  height:250px;
}

/* MEDIA ABOUT */
@media only screen and (min-width: 500px) {
  .img4-p{
    height:70%;
  }


}
@media only screen and (min-width: 600px) {

  .home-btn3:hover{
    text-decoration:underline;
    font-style:800;
    font-weight:800;
  }
  .products-btn3:hover{
    text-decoration:underline;
    font-weight:800;
  }
}


@media only screen and (min-width: 1000px) {
  #main-container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 0.6fr 0.3fr 0.8fr 0.3fr;
    grid-template-areas: 
    "img4 img4 img4 img4"
    "services services services services"
    "clients clients clients clients"
    "contact-us-h2 contact-us-h2 contact-us-h2 contact-us-h2"
    "contact-us  contact-us  contact-info contact-info"
    "map map map map";
  }
  /* IMG4 */
  .img4-img{
    height:500px;
  }
  .img4-p{
      padding: 30px;
      left:74%;
      width:670px;
      height:370px;
  }
  .touch-btn:hover{
    color:  #e6bd43;
    background-color: rgb(0, 0, 0);
    cursor:pointer;
  }
  /* CLIENTS */
  .clients-img{
    display:flex;
    justify-content: center;
    gap:50px;
  }

  /* CONTACT US */
  .contact-us-h2{
    grid-area:contact-us-h2;
    font-size:40px;
  }

  /* CONTACT INFO */
  .contact-info{
    padding-right:190px;
    padding-left:60px;
  }

  /* CONTACT US */
  .contact-us{
    padding-left:200px;
  }
  #name, #subject{
    width:700px;
  }
  #message{
    width:720px;
  }
  .map-map{
    height:260px;
  }
  .contact-us-submit:hover{
    background:black;
    color:#e6bd43;
    cursor:pointer;
  }

}







