.grid.container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "header"
  "text1"
  "img1"
  "text2"
  "services"
  "footer"
  ;
}

header{
  grid-area: header;
}

.text1{
  grid-area: text1;
}

.img1{
  grid-area: img1;
}

.text1{
  grid-area: text1;
}

.services{
  grid-area: services;
}

footer{
  grid-area: footer;
}